<div class="container-fluid">
  <div class="row col-12">
    <app-sidebar class="col-3"></app-sidebar>
    <div class="col-7">
      <div class="col-8">
        <h2 class="wordm">History of Telehealth</h2>
        <hr/>
        <p class="btext">We the People of the United States, in Order to form a more perfect Union, establish Justice, insure domestic Tranquility, provide for the common defence, promote the general Welfare, and secure the Blessings of Liberty to ourselves and our Posterity, do ordain and establish this Constitution for the United States of America.</p>
        <p class="btext">We the People of the United States, in Order to form a more perfect Union, establish Justice, insure domestic Tranquility, provide for the common defence, promote the general Welfare, and secure the Blessings of Liberty to ourselves and our Posterity, do ordain and establish this Constitution for the United States of America.</p>
        <p class="btext">We the People of the United States, in Order to form a more perfect Union, establish Justice, insure domestic Tranquility, provide for the common defence, promote the general Welfare, and secure the Blessings of Liberty to ourselves and our Posterity, do ordain and establish this Constitution for the United States of America.</p>
        <p class="btext">We the People of the United States, in Order to form a more perfect Union, establish Justice, insure domestic Tranquility, provide for the common defence, promote the general Welfare, and secure the Blessings of Liberty to ourselves and our Posterity, do ordain and establish this Constitution for the United States of America.</p>
        <br/>
      </div>
    </div>
    <div class="col-2">
      <h3 class="links">
        Most Requested Links   
      </h3>
      <hr>
      <div *ngFor="let link of links" class="link">
        <a  title="{{link.text}}" >{{link.text}}</a>
      </div>
    </div>
  </div>
</div>
